<div class="products pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section_title text-center">
                        Popular on Little Closet
                    </div>
                </div>
            </div>
            <div class="row page_nav_row">
                <div class="col">
                    <div class="page_nav">
                        <ul class="d-flex flex-row align-items-start justify-content-center">
                            <li class="active"><a href="category.html">Women</a></li>
                            <li><a href="category.html">Men</a></li>
                            <li><a href="category.html">Kids</a></li>
                            <li><a href="category.html">Home Deco</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row products_row mb-2">
                <!-- Product -->
                <div class="col-xl-3 col-md-4" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                    <div class="product">
                        <div class="product_image"><img src="images/product_1.jpg" alt=""></div>
                        <div class="product_content">
                            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                <div>
                                    <div>
                                        <div class="product_name">
                                            <a class="small"
                                               [routerLink]="['/', 'products']">
                                                Cool Clothing with Brown Stripes
                                            </a>
                                        </div>
                                        <div class="product_category">
                                            In <a href="category.html">Category</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ml-auto text-right">
                                    <div class="product_price text-right">$3<span>.99</span></div>
                                </div>
                            </div>
                            <div class="product_buttons">
                                <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                    <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                        <div>
                                            <div>
                                                <img src="../../assets/vendor/littlecloset/images/heart_2.svg"
                                                     class="svg"
                                                     alt=""><div>+</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                        <div>
                                            <div>
                                                <img src="../../assets/vendor/littlecloset/images/cart.svg"
                                                     class="svg"
                                                     alt=""><div>+</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link"
                           href="#"
                           tabindex="-1"
                           aria-disabled="true">
                            Previous
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>