<div class="row justify-content-center w-100">
    <div class="col-xl-6 col-lg-7 col-md-8 pb-md-1 pb-lg-3 pb-xl-5">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4">
                            <div class="text-center">
                                <h1 class="h5 text-gray-900 mb-4">
                                    <i class="user plus icon"></i> Create Your Account!
                                </h1>
                            </div>
                            <form class="user w-100" [formGroup]="form">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text"
                                               class="form-control form-control-user"
                                               id="first_name"
                                               placeholder="Name"
                                               formControlName="first_name"
                                               [ngClass]="{'is-invalid': invalid('first_name')}">
                                        <div class="invalid-feedback">
                                            <span *ngIf="errors('first_name')?.required">
                                                The first name is required.
                                            </span>
                                            <span *ngIf="errors('first_name')?.minlength">
                                                The first name must have a min length of 3 charactors.
                                            </span>
                                            <span *ngIf="errors('first_name')?.maxlength">
                                                The first name must have a max length of 50 charactors.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text"
                                               class="form-control form-control-user"
                                               id="last_name"
                                               placeholder="Surname"
                                               formControlName="last_name"
                                               [ngClass]="{'is-invalid': invalid('last_name')}">
                                        <div class="invalid-feedback">
                                            <span *ngIf="errors('last_name')?.required">
                                                The last name is required.
                                            </span>
                                            <span *ngIf="errors('last_name')?.minlength">
                                                The last name must have a min length of 3 charactors.
                                            </span>
                                            <span *ngIf="errors('last_name')?.maxlength">
                                                The last name must have a max length of 50 charactors.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email"
                                           class="form-control form-control-user"
                                           id="email"
                                           placeholder="Email"
                                           formControlName="email"
                                           [ngClass]="{'is-invalid': invalid('email')}">
                                    <div class="invalid-feedback">
                                        <span *ngIf="errors('email')?.required">
                                            The email is required.
                                        </span>
                                        <span *ngIf="errors('email')?.email">
                                            The email is invalid.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password"
                                               class="form-control form-control-user"
                                               id="password"
                                               placeholder="Password"
                                               formControlName="password"
                                               [ngClass]="{'is-invalid': invalid('password')}">
                                        <div class="invalid-feedback">
                                            <span *ngIf="errors('password')?.required">
                                                The password is required.
                                            </span>
                                            <span *ngIf="errors('password')?.minlength">
                                                The password must have a least 8 charactors.
                                            </span>
                                            <span *ngIf="errors('password')?.maxlength">
                                                The password must have a maximum 20 charactors.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password"
                                               class="form-control form-control-user"
                                               id="password_confirmation"
                                               placeholder="Repeat Password"
                                               formControlName="password_confirmation"
                                               [ngClass]="{'is-invalid': invalid('password_confirmation')}">
                                        <div class="invalid-feedback">
                                            <span *ngIf="errors('password_confirmation')?.required">
                                                The password confirmation is required.
                                            </span>
                                            <span *ngIf="errors('password_confirmation')?.compare">
                                                The password confirmation does not match password.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="error">
                                    <div class="alert alert-danger" role="alert">
                                        <h5 class="font-weight-bold p-0 m-0 pb-2 pt-2">
                                            <i class="fa fa-warning"></i> {{ error?.message }}
                                        </h5>
                                        <small *ngIf="error?.errors?.first_name">
                                            <i class="fas fa-envelope"></i> {{ error.errors.first_name }}
                                        </small>
                                        <small *ngIf="error?.errors?.last_name">
                                            <i class="fas fa-envelope"></i> {{ error.errors.last_name }}
                                        </small>
                                        <small *ngIf="error?.errors?.email">
                                            <i class="fas fa-envelope"></i> {{ error.errors.email }}
                                        </small>
                                        <small *ngIf="error?.errors?.password">
                                            <i class="fas fa-envelope"></i> {{ error.errors.password }}
                                        </small>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block"
                                        [disabled]="invalid()"> Register Account
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a [routerLink]="['/', 'authentication', 'fogort', 'password']"
                                   class="small"> Forgot Password?
                                </a>
                            </div>
                            <div class="text-center">
                                <a [routerLink]="['/', 'authentication', 'login']"
                                   class="small"> Already have an account? Login!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>