
<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-6 pb-md-1 pb-lg-3 pb-xl-5">
        <div class="card o-hidden border-0 shadow-lg">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4">
                            <div class="text-center">
                                <h1 class="h5 text-gray-900 mb-4">
                                    <span class="fa fa-store-alt"></span> Welcome Back To Store...
                                </h1>
                            </div>
                            <form class="user w-100" [formGroup]="form">
                                <div class="form-group">
                                    <input type="email"
                                           class="form-control form-control-user"
                                           id="email"
                                           aria-describedby="email address"
                                           placeholder="Enter email address."
                                           [ngClass]="{'is-invalid': invalid('email')}"
                                           formControlName="email">
                                    <div class="invalid-feedback">
                                        <span *ngIf="errors('email')?.required">
                                            The email is required to login.
                                        </span>
                                        <span *ngIf="errors('email')?.email">
                                            The email is invalid.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password"
                                           class="form-control form-control-user"
                                           id="password"
                                           placeholder="Enter password."
                                           [ngClass]="{'is-invalid': invalid('password')}"
                                           formControlName="password">
                                    <div class="invalid-feedback">
                                        <span *ngIf="errors('password')">
                                            <i class="key icon"></i> The login credentials are invalid.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="customCheck">
                                        <label class="custom-control-label"
                                               for="customCheck">
                                                Remember Me
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="error">
                                    <div class="alert alert-danger" role="alert">
                                        <h5 class="font-weight-bold p-0 m-0 pb-2 pt-2">
                                            <i class="fa fa-warning"></i> {{ error?.message }}
                                        </h5>
                                        <small *ngIf="error?.errors?.email">
                                            <i class="fas fa-envelope"></i> {{ error.errors.email }}
                                        </small>
                                        <small *ngIf="error?.errors?.password">
                                            <i class="fas fa-envelope"></i> {{ error.errors.password }}
                                        </small>
                                    </div>
                                </div>
                                <button id="login"
                                        class="btn btn-primary btn-user btn-block"
                                        [disabled]="invalid()"
                                        (click)="login()">
                                    <i class="sign-in icon"></i> Login
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small"
                                    [routerLink]="['/', 'authentication', 'forget', 'password']">
                                    Forgot Password?
                                </a>
                            </div>
                            <div class="text-center">
                                <a class="small"
                                    [routerLink]="['/', 'authentication', 'register']">
                                    Create an Account!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>