<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100"
    id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center"
	   [routerLink]="['/']">
		<div class="sidebar-brand-icon">
			<i class="fas fa-store"></i>
		</div>
		<div class="sidebar-brand-text mx-3">
			POS <sup>WEB</sup>
		</div>
	</a>
	<!-- Divider -->
	<!-- <hr class="sidebar-divider my-0"> -->
	<!-- Dashboard -->
	<!-- <li class="nav-item">
		<a class="nav-link"
		   [routerLink]="['/', 'pos']">
			<i class="fas fa-fw fa-cash-register"></i>
			<span>Point Of Sale</span>
		</a>
	</li> -->
	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Heading -->
	<div class="sidebar-heading">
		<i class="shopping cart icon"></i> Store
	</div>
	<!-- Products -->
	<li class="nav-item">
		<a class="nav-link collapsed"
		   href="#"
		   data-toggle="collapse"
		   data-target="#collapseProducts"
		   aria-expanded="true"
		   aria-controls="collapseTwo">
			<i class="fas fa-fw fa-shopping-basket"></i><span>Products</span>
		</a>
		<div id="collapseProducts"
			 class="collapse"
			 aria-labelledby="headingTwo"
			 data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">
					Products In Store:
				</h6>
				<a class="collapse-item"
				   [routerLink]="['/', 'products']">
				   All.
				</a>
				<a class="collapse-item"
				   [routerLink]="['/', 'on', 'discount']">
				   On Discount.
				</a>
				<a class="collapse-item"
				   [routerLink]="['/', 'out', 'of', 'stock']">
				   Out Of Stock.
				</a>
			</div>
		</div>
	</li>
	<!-- Services -->
	<li class="nav-item">
		<a class="nav-link collapsed"
		   href="#"
		   data-toggle="collapse"
		   data-target="#collapseServices"
		   aria-expanded="true"
		   aria-controls="collapseUtilities">
			<i class="fas fa-fw fa-shopping-bag"></i>
			<span>Services</span>
		</a>
		<div id="collapseServices"
			 class="collapse"
			 aria-labelledby="headingUtilities"
			 data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">
					Services we offer:
				</h6>
				<a class="collapse-item"
				   [routerLink]="['/', 'services']">
				   All.
				</a>
				<a class="collapse-item"
				   [routerLink]="['/', 'services', 'on', 'discount']">
				   On Discount.
				</a>
				<a class="collapse-item"
				   [routerLink]="['/', 'services', 'high', 'sales']">
				   High sales.
				</a>
			</div>
		</div>
	</li>
	<!-- Employees -->
	<li class="nav-item">
		<a class="nav-link collapsed"
		   href="#"
		   data-toggle="collapse"
		   data-target="#collapseEmployees"
		   aria-expanded="true"
		   aria-controls="collapseEmployees">
			<i class="fas fa-fw fa-user-tie"></i>
			<span>Employees</span>
		</a>
		<div id="collapseEmployees"
			 class="collapse"
			 aria-labelledby="headingUtilities"
			 data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">
					Custom Utilities:
				</h6>
				<a class="collapse-item"
				   [routerLink]="['/', 'employees']">
					Colors
				</a>
			</div>
		</div>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Heading -->
	<div class="sidebar-heading">
		<i class="book icon"></i> Booking
	</div>
	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed"
		   href="#"
		   data-toggle="collapse"
		   data-target="#collapseOrders"
		   aria-expanded="true"
		   aria-controls="collapsePages">
			<i class="fas fa-fw fa-ticket-alt"></i>
			<span>Orders</span>
		</a>
		<div id="collapseOrders"
			 class="collapse"
			 aria-labelledby="headingPages"
			 data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">
					Login Screens:
				</h6>
				<a class="collapse-item" href="login.html">
					Login
				</a>
			</div>
		</div>
	</li>
	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed"
		   href="#"
		   data-toggle="collapse"
		   data-target="#collapseCustomers"
		   aria-expanded="true"
		   aria-controls="collapsePages">
			<i class="fas fa-fw fa-users"></i>
			<span>Customers</span>
		</a>
		<div id="collapseCustomers"
			 class="collapse"
			 aria-labelledby="headingPages"
			 data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">
					Login Screens:
				</h6>
				<a class="collapse-item" href="login.html">
					Login
				</a>
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed"
		   href="#"
		   data-toggle="collapse"
		   data-target="#collapseTransactions"
		   aria-expanded="true"
		   aria-controls="collapsePages">
			<i class="fas fa-fw fa-money-bill-wave-alt"></i>
			<span>Transactions</span>
		</a>
		<div id="collapseTransactions"
			 class="collapse"
			 aria-labelledby="headingPages"
			 data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">
					Login Screens:
				</h6>
				<a class="collapse-item" href="login.html">
					Login
				</a>
			</div>
		</div>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider my-0">
	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="tables.html">
			<i class="fas fa-fw fa-users-cog"></i>
			<span>Accounts</span>
		</a>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">
	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0"
				id="sidebarToggle"
				(click)="toggleSidebar()"></button>
	</div>
</ul>